<link rel="stylesheet" href="/dbdapp.css">


<div class="flex-container">
    <div class="container">
        <h1>DBD RANDOM KILLER GENERATOR</h1>
        <p class="lead">Your randomly generated killer is: <strong> <%= data %> </strong> </p>

        <!-- Display Image -->
        <img src= <%= killer_image %> style="max-width: 300px; height: auto; margin-top: 20px;">
        <form method="GET" action='/randomgenkiller'>
            <% if (filters) { %>
    <% if (Array.isArray(filters)) { %>
      <% filters.forEach(filter => { %>
        <input type="hidden" name="attribute" value="<%= filter %>">
      <% }) %>
    <% } else { %>
      <input type="hidden" name="attribute" value="<%= filters %>">
    <% } %>
  <% } %>
            <button>Generate Random Killer</button>
        </form>
    </div>
</div>

<h3>Random Perks:</h3>
<div class ="perk-container"> <!-- Calls the styling class in dbdapp.css and adjusts from there-->
        <% perks.forEach(perk => { %>
            <div class ="perk-card">
            <img src="<%= perk.perk_image %>" alt="<%= perk.perk_name %>" style="max-width: 100px; height: auto;">
            <p><%= perk.perk_name %></p>
            </div>   
        <% }) %>
</div>



<form method="GET" action="/">
    <button type="submit">Back to Homepage</button>
</form>
